{% extends 'base.html.twig' %}

{% block title %}Seance N° {{ seance.id }}{% endblock %}

{% block body %}
	<div class="gen-breadcrumb">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<nav aria-label="breadcrumb">
						<div class="gen-breadcrumb-title">
							<h1>Films</h1>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<section class="gen-section-padding-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						{% for film in films %}
							<div class="col-xl-3 col-lg-4 col-md-6">
								<div class="gen-carousel-movies-style-1 movie-grid style-1">
									<div class="gen-movie-contain">
										<div class="gen-movie-img">
											<img src="{{ film.picture }}" alt="streamlab-image">
											<div class="gen-movie-action">
												<a href="#" class="gen-button">
													<i class="fa fa-play"></i>
												</a>
											</div>
										</div>
										<div class="gen-info-contain">
											<div class="gen-movie-info">
												<h3><a href="#">{{ film.title }}</a></h3>
											</div>
											<div class="gen-movie-meta-holder">
												<ul>
													<li>{{ film.duration // 60 }}h {{ film.duration % 60 }}min</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="gen-movie-contain">
										{{ film.synopsis }}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

